body {
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

$font-text: "Hind", sans-serif;
$font-heading: "Rubik", sans-serif;
$font-desc: "Karla", sans-serif;
$font-lead: "Bungee", sans-serif;
