.site-footer {
  background-color: var(--component);
  padding: 2rem 0;
  &-inner {
    @extend .inner-width-lg;
    display: flex;
    color: $main-bg;
    & > * {
      flex: 1;
    }
    .footer-contact {
    }
  }
}
