.site-footer {
  background-color: var(--component);
  &-inner {
    @extend .inner-width-lg;
    color: $main-bg;
    padding-top: 0.3rem;
    .menu {
      margin: 0;
      display: flex;
      justify-content: center;
      padding: 0;
      &-item {
        list-style: none;
        margin: 0.5rem 1rem;
      }
    }
    .copyright {
      p {
        color: var(--text-alt);
        text-align: center;
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }
}
