.site-header {
  background-color: var(--component);
  padding: 0.5rem 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  box-shadow: var(--shadow);
  &-inner {
    @extend .inner-width-lg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    .site-branding {
      width: 300px;
      .custom-logo-link {
        display: block;
        line-height: 0;
        img {
          width: auto;
          height: 4rem;
          @media (prefers-color-scheme: dark) {
            filter: brightness(0) invert(1);
          }
        }
      }
      @media only screen and (max-width: $mobile) {
        .custom-logo-link {
          height: max-content;
          img {
            height: 3rem;
            width: auto;
          }
        }
      }
    }
    .main-navigation {
      @media only screen and (max-width: $mobile) {
        width: max-content;
      }
      .menu-open {
        display: none;
        @media only screen and (max-width: $mobile) {
          display: block;
          height: 24px;
          color: var(--main);
        }
      }
      .menu {
        display: flex;
        justify-content: flex-end;
        @media only screen and (max-width: $mobile) {
          display: none;
        }
        &-item {
          a {
            font-family: $font-desc;
            font-weight: 700;
            line-height: 1rem;
            text-transform: uppercase;
          }
          margin-left: 1rem;
        }
      }
    }
  }
}
