.site-main {
  padding-top: 5rem;
  min-height: calc(100vh - 4.15rem);
  @media only screen and (max-width: $mobile) {
    padding-top: 4rem;
  }
  &-inner {
    @extend .inner-width-lg;
    padding: 2rem;
    @media only screen and (max-width: $mobile) {
      padding: 1.25rem;
    }

    .sidebar {
      flex-basis: 25%;
    }

    .progress {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.home,
.search,
.archive,
.page {
  .site-main-inner {
    @media only screen and (max-width: $mobile) {
      display: block;
    }
    display: flex;
    justify-content: space-between;
    .posts,
    .page-content {
      flex-basis: 75%;
      margin-left: 2rem;
      @media only screen and (max-width: $mobile) {
        margin-left: 0;
      }
    }
  }
}
