.comment-form {
  &-author,
  &-email,
  &-url,
  &-comment,
  .comment-notes {
    margin: 0;
    margin-bottom: 1rem;
    align-items: center;
    width: 70%;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
    label {
      font-family: $font-desc;
      display: block;
      font-size: 0.9rem;
    }
    input {
      width: 100%;
      padding-left: 0.75rem;
      font-weight: bold;
      color: var(--main);
      &:focus {
        color: var(--main);
      }
    }
    textarea {
      font-weight: bold;
      color: var(--main);
      &:focus {
        color: var(--main);
      }
    }
  }
}

.comments-area .comment-form {
  input[type="text"],
  input[type="url"],
  input[type="email"],
  textarea {
    background-color: var(--component);
  }
}

.comments-area {
  .comments-title {
    margin-bottom: 2rem;
  }
  .comment-list,
  .children {
    margin: 0;
    @media only screen and (max-width: $mobile) {
      padding: 0;
    }
    .comment {
      margin-bottom: 2rem;
      background-color: var(--component-alt) !important;
      box-shadow: var(--shadow);
      padding: 1rem;
      border-radius: $b-r;
      font-size: 0.8rem;
      list-style: none;
      @media only screen and (max-width: $mobile) {
        padding-right: 0.2rem;
      }
      &-body {
        display: block;
        margin-bottom: 1rem;
        .comment-meta {
          font-family: $font-desc;
          display: flex;
          @media only screen and (max-width: $mobile) {
            display: block;
          }
          & > * {
            margin-right: 2rem;
          }
          .comment-author {
            .says {
              display: none;
            }
          }
        }
        .comment-content {
          p {
            margin: 0.5rem 0;
            font-size: 1rem;
          }
        }
        .reply {
          font-family: $font-desc;
        }
      }
    }
  }
}
