.sidebar {
  @media only screen and (max-width: $mobile) {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    padding: 1rem;
    height: 100vh;
    overflow: scroll;
    left: 100vw;
    background-color: var(--component-alt);
    width: 100%;
  }
  .widget-area {
    .menu-close {
      height: 24px;
      margin-bottom: 2rem;
      display: none;
      color: var(--main);
      @media only screen and (max-width: $mobile) {
        display: block;
      }
    }
    .widget {
      background-color: var(--component);
      padding: 1.5rem;
      border-radius: $b-r;
      margin-bottom: 2rem;
      box-shadow: var(--shadow);
      &-title {
        margin-bottom: 0.5rem;
        color: var(--main);
        line-height: 1.7rem;
      }
      &_search {
        padding: 0.5rem 1rem;
        border-radius: $b-r;
        form {
          display: flex;
          justify-content: space-between;
          label {
            width: 100%;
          }
          .search-field {
            border: 0;
            width: 100%;
            background-color: var(--component);
            color: var(--main);
            font-weight: bold;
            &:focus {
              color: var(--main);
            }
            &::placeholder {
              color: var(--text-alt);
            }
          }
          .search-submit {
            display: none;
          }
        }
      }
      &_recent_episodes,
      &_recent_entries,
      &_nav_menu {
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding: 0.5rem 0;
            &:not(:last-child) {
              // border-bottom: solid 1px var(--text-alt);
            }
            a {
              color: var(--text-alt);
              &:hover {
                color: var(--hover) !important;
              }
            }
          }
        }
      }
      &_tag_cloud {
        .tagcloud {
          font-family: $font-desc;
          text-transform: uppercase;
          a {
            color: var(--text-alt);
            &:hover {
              color: var(--hover) !important;
            }
          }
        }
      }
      &_nav_menu {
        @media only screen and (min-width: $mobile) {
          display: none;
        }
      }
      &_text {
        color: var(--text-alt);
      }
    }
  }
}
