a {
  text-decoration: none;
  color: var(--main);
  font-weight: 700;
  transition: $trans-fast;
  &:visited {
    color: var(--main);
    &:hover {
      color: var(--hover);
    }
  }
  &:hover {
    color: var(--hover);
  }

  & * {
    transition: $trans-fast;
  }
}
