h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 700;
  color: $main;
  margin: 0;
  transition: 0.3s;
  a {
    font-weight: inherit;
    color: $main;
    &:visited {
      color: $main;
    }
  }
}
